
configuration = {
	# The base URL for the website to be generated.
	"base_url": "https://example.com/"
	# The website name
	,"website_name": "Example Site"
	# The advert code
	,"ad_code": "ADD_YOUR_AD_CODE_HERE"
}